@import "./base/base";
@import "./utils/variables";
@import "./utils/mixins";
@import "./pages/index";
@import "./utils/placeholder";
@import "./pages/resto";

body {
    margin: auto;
    font-family: roboto,sans-serifs;
    box-sizing: border-box;
}

