.contenu {
  font-family: roboto,sans-serifs;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader {
  background-color: #f3f3f3;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-animation: loader 3s both;
          animation: loader 3s both;
  pointer-events: none;
}

.loader_cube {
  position: relative;
  margin-left: 25%;
  margin-top: 100px;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: #9356dc;
  -webkit-animation: cube 1.5s ease-in-out both;
          animation: cube 1.5s ease-in-out both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  pointer-events: none;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cube {
  0% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #ff79da;
    left: 100px;
    top: 0px;
  }
  50% {
    background-color: #99e2d0;
    left: 100px;
    top: 100px;
  }
  75% {
    background-color: #9356dc;
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: #ff79da;
    left: 0px;
    top: 0px;
  }
}

@keyframes cube {
  0% {
    background-color: #9356dc;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #ff79da;
    left: 100px;
    top: 0px;
  }
  50% {
    background-color: #99e2d0;
    left: 100px;
    top: 100px;
  }
  75% {
    background-color: #9356dc;
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: #ff79da;
    left: 0px;
    top: 0px;
  }
}

.header {
  padding-bottom: 10px;
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
}

.header_logo {
  text-align: center;
  font-family: shrikhand, sans-serif;
  font-size: 2.3em;
  margin: 0;
  padding-top: 20px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1eeee;
}

.map_icon {
  margin: 17px 12px 0px 0px;
}

.map p {
  font-size: 1.1em;
  font-weight: 500;
}

.search {
  background-color: #f6f6f6;
  padding: 30px 30px 70px 30px;
  text-align: center;
}

.search_tittle {
  margin-top: 0;
  padding: 30px 30px 0px 30px;
  font-size: 1.7em;
}

.search_subtittle {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 50px;
}

.search_btn {
  border: 0;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  padding: 15px 15px;
}

.search_btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav {
  padding-bottom: 10px;
}

.tittle {
  font-size: 1.2em;
  padding-left: 20px;
  margin-top: 30px;
}

@media (min-width: 806px) {
  .tittle {
    font-size: 1.5em;
    text-align: center;
  }
}

.choice {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  text-decoration: none;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.choice_resto:hover {
  background-color: #e8e8fc;
}

@media (min-width: 806px) {
  .choice_resto {
    width: 30%;
    padding: 0;
  }
}

.choice_number {
  background-color: #9356dc;
  font-size: 0.8em;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  margin-left: -10px;
  height: 15px;
}

.choice_icon {
  margin: 17px;
  color: gray;
}

.choice_tittle {
  color: black;
  font-weight: 600;
  padding-left: 10px;
}

.resto {
  background-color: #f6f6f6;
}

.resto h2 {
  padding-top: 50px;
}

.carte {
  padding-bottom: 30px;
}

@media (min-width: 806px) {
  .carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.carte_resto {
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  color: black;
  margin-bottom: 20px;
}

@media (min-width: 806px) {
  .carte_resto {
    width: 45%;
    margin-bottom: 30px;
  }
}

.carte_photo {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 806px) {
  .carte_photo {
    height: 250px;
  }
}

.new {
  position: absolute;
  border: 0;
  background-color: #99e2d0;
  padding: 5px 20px;
  top: 20px;
  right: 20px;
  color: #04a981;
  border-radius: 3px;
}

.new p {
  margin: 0;
  font-weight: 500;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}

.info h3 {
  margin: 10px;
  margin-bottom: 5px;
  font-size: 1em;
}

.info p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0px 10px 10px 10px;
}

.coeur {
  margin-right: 20px;
  margin-top: 15px;
  color: white;
  font-size: 1.5em;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.coeur:hover {
  -webkit-animation: like 250ms ease-in-out forwards;
          animation: like 250ms ease-in-out forwards;
}

@-webkit-keyframes like {
  0% {
    color: white;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes like {
  0% {
    color: white;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: transparent;
  }
}

footer {
  background-color: #000000ba;
  color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 806px) {
  footer {
    text-align: center;
  }
}

footer h1 {
  font-family: shrikhand;
  font-size: 1em;
  font-weight: 500;
  padding: 20px;
  margin: auto;
}

@media (min-width: 806px) {
  footer h1 {
    font-size: 1.4em;
    padding-left: 40px;
  }
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin-bottom: 10px;
}

@media (min-width: 806px) {
  .footer_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_list_icon {
  font-size: .8em;
}

.footer_list p {
  padding-left: 10px;
  margin: 0;
}

.hand {
  margin-left: -5px;
}

footer p {
  padding-left: 20px;
}

footer a {
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
}

.search_btn, .choice_resto, .carte_resto, .meal {
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}

.search_btn {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
}

.header_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_resto--icon {
  font-size: 1.4em;
  color: black;
}

.header_resto h1 {
  margin-right: 50px;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: -30px;
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
  position: relative;
}

.photo_intro {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: shrikhand;
  padding-left: 20px;
}

.coeur {
  margin-right: 40px;
}

.choice_meal h2 {
  font-weight: 300;
  font-size: 1em;
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative;
}

.choice_meal h2::after {
  content: "";
  height: 4px;
  width: 40px;
  background-color: #99e2d0;
  position: absolute;
  bottom: 0;
  left: 20px;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.meal_titre {
  margin: 5px;
  font-size: 1.1em;
}

.meal_detail {
  font-weight: 300;
  margin: 0px 5px;
}

.prix p {
  font-weight: 700;
  padding-top: 15px;
  margin-bottom: 5px;
  margin-right: 20px;
}

body {
  margin: auto;
  font-family: roboto,sans-serifs;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */