$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;
$color-fond: #f6f6f6;
$font-tittle: shrikhand;
%shadow {
    box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
} 

body {
    margin: auto;
}
.contenu {
    font-family: roboto,sans-serifs;
    box-sizing: border-box;
}
.header {
    padding-bottom: 10px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.1);
    z-index: 1;
    position: relative;

        &_logo {
            text-align: center;
            font-family: $font-tittle, sans-serif;
            font-size: 2.3em;
            margin-bottom: 0;
        }
}
.map {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 238, 238);

        &_icon {
           margin: 17px 12px 0px 0px;
        }
            p {
                font-size: 1.1em;
                font-weight: 500;
            }
}  
.search {
    background-color: $color-fond;
    padding: 30px 30px 70px 30px;
    text-align: center;
        &_tittle {
            margin-top: 0;
            padding: 30px 30px 0px 30px;
            font-size: 1.7em;
        }
            &_subtittle {
                font-weight: 300;
                font-size: 1.1em;
                margin-bottom: 50px;
            }
                &_btn {
                    border: 0;
                    border-radius: 50px;
                    background-image: linear-gradient(to bottom right, $color-secondaire, $color-primaire);
                    color:white;
                    text-decoration: none;
                    padding: 15px 15px;
                    @extend %shadow;
                        &:hover {
                            opacity: 0.7;
                            transition: all 0.5s ease;
                        }
                }        
} 
.nav {
    padding-bottom: 50px;
        &_tittle {
            font-size: 1.2em;
            padding-left: 20px;
            margin-top: 30px;
        }
}
.nav_tittle {
    font-size: 1.2em;
    padding-left: 20px;
    margin-top: 30px;
}
.choice {
    display: block;

        &_resto {
            display: flex;
            width: 80%;
            text-decoration: none;
            margin: auto;
            background-color: $color-fond;
            border-radius: 20px;
            padding: 10px 0px;
            margin-bottom: 30px;
            @extend %shadow;
                &:hover {
                    background-color: #e7e7fc;
                }
        }    
                &_number {
                    background-color: $color-primaire;
                    font-size: 0.8em;
                    color: white;
                    border-radius: 50%;
                    padding: 5px;
                    margin-left: -10px;
                }
                    &_icon {
                        margin: 17px;  
                        color: gray; 
                    }
                        &_tittle {
                            color: black;
                            font-weight: 600;
                            padding-left: 10px;
                        }
}