.contenu {
    font-family: roboto,sans-serifs;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}


/* spinner loader*/
.loader {
    background-color: #f3f3f3;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    animation: loader 3s both;
    pointer-events: none;
    
    &-cercle { 
    position: relative;
    margin-left: 25%; 
    margin-top: 100px;       
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $color-primaire;
    animation: cercle 2.5s ease-in-out both;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    pointer-events: none;
        @media (min-width:768px) {
            margin-left: 35%;
            margin-top: 15%;        
        }
    }
}  
@keyframes loader {
    80% { opacity: 1;}
    100% { opacity: 0;}
}      
@keyframes cercle {
    0%   {background-color:$color-primaire; left:0px; top:0px;}
    25%  {background-color:$color-secondaire; left:100px; top:0px;}
    50%  {background-color:$color-tertiaire; left:100px; top:100px;}
    75%  {background-color:$color-primaire; left:0px; top:100px;}
    100% {background-color:$color-secondaire; left:0px; top:0px;}
  }


/* header*/
.header {
    padding-bottom: 10px;
    box-shadow: 0 4px 2px rgba(0,0,0,0.1);
    z-index: 1;
    position: relative;

    &-logo {
        @include logo;
    }
}
.map {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 238, 238);

    &-icon {
        margin: 17px 12px 0px 0px;
    }

    p {
        font-size: 1.1em;
        font-weight: 500;
    }
}  


/* section bouton*/
.search {
    background-color: $color-fond;
    padding: 30px 30px 70px 30px;
    text-align: center;

    &-tittle {
        margin-top: 0;
        padding: 30px 30px 0px 30px;
        font-size: 1.7em;
        font-family: roboto;
    }

    &-subtittle {
        font-weight: 300;
        font-size: 1.1em;
        margin-bottom: 50px;
    }

    &-btn {
        @include btn;
    }  
} 


/* navigation*/
.nav {
    padding-bottom: 10px;
}
.tittle {
    font-size: 1.2em;
    padding-left: 20px;
    margin-top: 30px;
    @media (min-width: 806px) {
        font-size: 1.5em;
        text-align: center;
    }
}
.choice {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    &-resto {
        display: flex;
        align-items: center;
        width: 80%;
        text-decoration: none;
        cursor: pointer;
        margin: auto;
        background-color: $color-fond;
        border-radius: 20px;
        padding: 10px 0px;
        margin-bottom: 30px;
        @extend %shadow;
        &:hover {
            background-color: hsl(240, 78%, 95%);
            >.choice-icon {
                color: $color-primaire;
            }
        }
            @media (min-width: 806px) {
                width: 30%;
                padding: 0;
            }
    }        
        
    &-number {
        background-color: $color-primaire;
        font-size: 0.8em;
        color: white;
        border-radius: 50%;
        padding: 3px 6px;
        margin-left: -10px;
        height: 15px;
    }

    &-icon {
        margin: 17px;  
        color: gray; 
        @media (min-width: 806px) {
            font-size: 1.1em;
        }
    }

    &-tittle {
        color: black;
        font-weight: 600;
        padding-left: 10px;
        @media (min-width: 806px) {
            font-size: 1.1em;
        }
    }
}


/*restaurant*/
.resto {
    background-color: $color-fond;
    h2 {
        padding-top: 50px;
    }
}
.carte {
    padding-bottom: 30px;
    @media (min-width: 806px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-resto {
        @extend %shadow;
        @include carte;
        @media (min-width: 806px) {
            width: 45%;
            margin-bottom: 30px;
        }
    }

    &-photo {
        @include carte-photo;
        @media  (min-width: 806px){
            height: 250px;
        }
    }
}
.new {
    position: absolute;
    border: 0;
    background-color: $color-tertiaire;
    padding: 5px 20px;
    top: 20px;
    right: 20px;
    color: #04a981;
    border-radius: 3px;

    p {
        margin: 0;
        font-weight: 500;
    }
}
.info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 0px 20px 20px;

    h3 {
        margin: 10px;
        margin-bottom: 5px;
        font-size: 1em;   
    }

    p {
        font-size: 0.9em;
        font-weight: 300;
        margin: 0px 10px 10px 10px;
    }
}


/*anim coeur*/
.coeur {
    @include coeur;
    transition: ease-in-out;
    &:hover {
        animation: like 700ms ease-in-out forwards;
    }
}

@keyframes like {    
    50% { opacity: 0.5;}
    100% {
        background-image: linear-gradient(to bottom right, $color-secondaire, $color-primaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: transparent;
    }
}


/*footer*/
footer {
    background-color: $color-footer;
    color: #fff;
    padding-bottom: 30px;
    @media (min-width: 806px) {
        text-align: center;
    }

    h1 {
        font-family: $font-tittle;
        font-size: 1em;
        font-weight: 500;
        padding: 20px;
        margin: auto;
        @media (min-width: 806px) {
            font-size: 1.4em;
            padding-left: 40px;
        }  
    }
} 
.footer-list {
    display: flex;
    padding-left: 20px;
    margin-bottom: 10px;
    @media (min-width: 806px) {
        justify-content: center;
    }

    &-icon {
        font-size: .8em;
    }
    
    p {
        padding-left: 10px;
        margin: 0;
    }
}     
.hand {
    margin-left: -5px;
} 
footer p {
    padding-left: 20px;
        
}  
 footer a {
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
}         
