.header-resto {
    display: flex;
    align-items: baseline;
    justify-content: center;
    &--icon {
        font-size: 1.4em;
        color: black; 
        margin-left: -70px;
        @media (max-width: 350px) {
            margin-left: -50px;
        }                              
    }
}
.restaurant {
    background-color: $color-fond;
    margin-top: -30px;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
    position: relative;
}
.photo-intro {
    height: 200px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 806px) {
        height: 380px;
    }
}
.titre {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: $font-tittle;
    padding-left: 20px;
}
.coeur {
    margin-right: 40px;
}


/* menu titre*/
.choice-meal h2{
    font-weight: 300;
    font-size: 1em;
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;
    &::after {
        content: "";
        height: 4px;
        width: 40px;
        background-color: $color-tertiaire;
        position: absolute;
        bottom: 0;
        left: 20px;
    }
}


/*menu carte*/
.meal {
    @include meal;
    @extend %shadow;     
    opacity: 0;
    animation: loadmeal 0.6s ease-out 1 forwards;
    &:hover >.check  {
        width: 60px;
    }
    &-info {
        flex: 1;
        white-space: nowrap;  
        text-overflow: ellipsis; 
        overflow: hidden;   
    }
    &-titre {
        margin: 5px;
        font-size: 1.1em;
        padding: 5px 0px 0px 5px;
        white-space: nowrap;  
        text-overflow: ellipsis; 
        overflow: hidden; 
    }
    &-detail { 
        font-weight: 300;
        margin: 0px 5px;
        padding: 0px 0px 10px 5px;
        white-space: nowrap;  
        text-overflow: ellipsis; 
        overflow: hidden; 
    }
}


/* anim load menu */
@keyframes loadmeal {
    0% { transform:translatey(0);opacity: 0;}
    100% { transform:translatey(1); opacity: 1;}
}
.meal1 {
    animation-delay: 0s;
}
.meal2 {
    animation-delay: 0.3s;
}
.meal3 {
    animation-delay: 0.45s;
}
.meal4 {
    animation-delay: 0.6s;
}
.prix p {
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 5px;
    margin-right: 20px;
}


/* anim checked */
.check {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $color-tertiaire;
    width: 0;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.5s ease-in;      
    &-icon {
        color: white;
        font-size: 1.5em;          
    }
}

.meal:hover .check >.check-icon {
    transition: 0.5s  ease-in-out;
    transform: rotate(360deg)
}


/*bouton*/
.btn {
    @include btn;
    padding: 15px 30px;
    
}


/* media large*/
@media (min-width:806px) {
    .detail-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .bloc-meal {
        display: flex;
        flex-direction: column;
        
        width: 35%;
    }
}